<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            background-color: #f0f0f0;
            min-height: 100vh;
        }
        img {
            height: 100vw;
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        footer {
            position: fixed;
            bottom: 0;
            width: calc(100% - 95px);;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #ddd;
            box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
        }

		#imageContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			height: calc(100vh - 60px); /* Adjust this value as needed */
			flex-wrap: wrap;
		}
    </style>
</head>
<body>
<div id="imageContainer"></div>

<footer id="footer">
    <div>Seite: <span id="currentPageDisplay">1</span> von <span id="totalPages"></span></div>
    <select id="pageSelect" onchange="jumpToPage(this.value)">
        <!-- Optionen werden dynamisch hinzugefügt -->
    </select>
    <select id="fitSelect" onchange="changeFitMode(this.value)">
        <option value="fit-screen">Fit Screen</option>
        <option value="fit-width">Fit Width</option>
        <option value="fit-width-shrink">Fit Width (Shrink Only)</option>
        <option value="fit-height">Fit Height</option>
        <option value="original">Original</option>
    </select>
</footer>

<script>
    var images = {{ images|tojson|safe }};
    var perPage = 1;
    var currentPage = 1;

	function showPage(page) {
		var start = (page - 1) * perPage;
		var end = start + perPage;
		var pageImages = images.slice(start, end);
		var container = document.getElementById('imageContainer');
		container.innerHTML = '';
		var savedMode = localStorage.getItem('fitMode');

		for (var i = 0; i < pageImages.length; i++) {
			var img = document.createElement('img');
			img.src = "{{ url_for('static', filename=user_dir) }}/" + pageImages[i];
			img.onerror = function() {
				document.body.innerHTML = 'Content got removed';
			};
			container.appendChild(img);
			if (savedMode) {
				console.log(savedMode)
				changeFitMode(savedMode);
			}
		}

		currentPage = page;
		document.getElementById('currentPageDisplay').innerText = currentPage;
		document.getElementById('totalPages').innerText = Math.ceil(images.length / perPage);
		document.getElementById('imageContainer').scrollIntoView();
		updatePageSelect(); // Aktualisiert die Seitenauswahl
	}

	function jumpToPage(pageNumber) {
		showPage(parseInt(pageNumber, 10));
	}

	function updatePageSelect() {
		var pageSelect = document.getElementById('pageSelect');
		pageSelect.innerHTML = ''; // Löscht vorhandene Optionen
		var totalPages = Math.ceil(images.length / perPage);
		for (var i = 1; i <= totalPages; i++) {
			var option = document.createElement('option');
			option.value = i;
			option.text = 'Seite ' + i;
			pageSelect.appendChild(option);
		}
		pageSelect.value = currentPage;
	}

    function previousPage() {
        if (currentPage > 1) {
            showPage(currentPage - 1);
        }
    }

    function nextPage() {
        if (currentPage < images.length / perPage) {
            showPage(currentPage + 1);
        }
    }

	function changeFitMode(mode) {
		var imgs = document.getElementsByTagName('img');
		var container = document.getElementById('imageContainer');
		for (var i = 0; i < imgs.length; i++) {
			switch(mode) {
				case 'fit-screen':
					imgs[i].style.objectFit = 'contain';
					imgs[i].style.height = '100vh';
					imgs[i].style.width = '100%';
					container.style.height = '100vh';
					container.style.width = '100%';
					break;
				case 'fit-width':
					imgs[i].style.objectFit = 'cover';
					imgs[i].style.height = 'auto';
					imgs[i].style.width = '100%';
					container.style.height = 'auto';
					container.style.width = '100%';
					break;
				case 'fit-width-shrink':
					imgs[i].onload = function() {
						if (mode === 'fit-width-shrink' && this.naturalHeight < window.innerHeight) {
							container.style.height = this.naturalHeight + 'px';
						}
					};
					imgs[i].style.objectFit = 'scale-down';
					imgs[i].style.height = 'auto';
					imgs[i].style.width = '100%';
					container.style.width = 'auto';
					container.style.maxHeight = '100%';
					container.style.maxWidth = '100%';
					break;
				case 'fit-height':
					imgs[i].style.objectFit = 'cover';
					imgs[i].style.height = '100vh';
					imgs[i].style.width = 'auto';
					container.style.height = '100vh';
					container.style.width = 'auto';
					break;
				case 'original':
					imgs[i].style.objectFit = 'none';
					imgs[i].style.height = 'auto';
					imgs[i].style.width = 'auto';
					container.style.height = 'auto';
					container.style.width = 'auto';
					break;
			}
		}
		// Save the selected mode to localStorage
		localStorage.setItem('fitMode', mode);
	}

	// Add a keydown event listener to the window
	window.addEventListener('keydown', function(event) {
        // Check which key was pressed
        switch (event.key) {
            case 'ArrowLeft':
                // If the left arrow key was pressed, go to the previous page
                previousPage();
                break;
            case 'ArrowRight':
                // If the right arrow key was pressed, go to the next page
                nextPage();
                break;
        }
    });

	function zoomImage(scale) {
		var imgs = document.getElementsByTagName('img');
		for (var i = 0; i < imgs.length; i++) {
			imgs[i].style.transform = 'scale(' + scale + ')';
		}
		// Save the current scale to localStorage
		localStorage.setItem('zoomScale', scale);
	}

	// Restore the selected mode and zoom level when the page loads
	window.onload = function() {
		showPage(1);
		var savedMode = localStorage.getItem('fitMode');
		var savedScale = localStorage.getItem('zoomScale');
		if (savedMode) {
			document.getElementById('fitSelect').value = savedMode;
			changeFitMode(savedMode);
		}
		if (savedScale) {
			zoomImage(savedScale);
		}
	};

	// Gesture support
	var touchStartX = null;

	// Add touch event listeners to the window
	window.addEventListener('touchstart', function(event) {
		if (event.touches.length > 1) {
			initialTouches = event.touches;
		} else {
			touchStartX = event.touches[0].clientX;
		}
	});

	window.addEventListener('touchmove', function(event) {
		if (event.touches.length > 1 && initialTouches.length > 1) {
			// Calculate the distance between the two initial touches
			var initialDistance = Math.sqrt(Math.pow(initialTouches[0].clientX - initialTouches[1].clientX, 2) + Math.pow(initialTouches[0].clientY - initialTouches[1].clientY, 2));
			// Calculate the distance between the two current touches
			var currentDistance = Math.sqrt(Math.pow(event.touches[0].clientX - event.touches[1].clientX, 2) + Math.pow(event.touches[0].clientY - event.touches[1].clientY, 2));
			// Calculate the scale based on the change in distance
			var scale = currentDistance / initialDistance;
			zoomImage(scale);
		} else if (touchStartX !== null) {
			var touchEndX = event.touches[0].clientX;
			var touchDiff = touchStartX - touchEndX;

			if (touchDiff > 100) { // a left swipe
				nextPage();
				touchStartX = null;
			} else if (touchDiff < -100) { // a right swipe
				previousPage();
				touchStartX = null;
			}
		}
	});

	window.addEventListener('touchend', function(event) {
		initialTouches = [];
		touchStartX = null;
	});

	// Toggle the footer visibility when the image is clicked
    document.getElementById('imageContainer').addEventListener('click', function() {
        // Toggle the visibility of the footer
        var footer = document.getElementById('footer');
        if (footer.style.display === 'none') {
            footer.style.display = 'flex';
        } else {
            footer.style.display = 'none';
        }
    });
</script>
</body>
</html>