<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bildergalerie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
    <style>
        .my-gallery {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;
        }
        .my-gallery figure {
            margin: 5px;
            width: calc(100% / 3 - 10px);
            box-sizing: border-box;
        }
        .my-gallery img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for image in images %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ url_for('static', filename=user_dir + '/' + image) }}" itemprop="contentUrl" data-size="1024x768">
            <img src="{{ url_for('static', filename=user_dir + '/' + image) }}" itemprop="thumbnail" alt="Bildbeschreibung" />
        </a>
    </figure>
    {% endfor %}
</div>

<!-- Root element der Photoswipe. Muss am Ende des Body stehen. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Schließen (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Teilen"></button>
                <button class="pswp__button pswp__button--fs" title="Vollbild"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Vorheriges (Pfeil links)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Nächstes (Pfeil rechts)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var openPhotoSwipe = function(index) {
			var pswpElement = document.querySelectorAll('.pswp')[0];
			var items = [];

			document.querySelectorAll('.my-gallery a').forEach(function(item) {
				var size = item.getAttribute('data-size').split('x');
				items.push({
					src: item.getAttribute('href'),
					w: parseInt(size[0], 10),
					h: parseInt(size[1], 10)
				});
			});

			var options = {
				index: index
			};

			var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
			gallery.init();
		};

		document.querySelectorAll('.my-gallery a').forEach(function(item, index) {
			item.onclick = function(event) {
				event.preventDefault();
				openPhotoSwipe(index);
			};
		});
	});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
<script>
    var openPhotoSwipe = function() {
        var pswpElement = document.querySelectorAll('.pswp')[0];
        var items = [];

        var images = document.querySelectorAll('.my-gallery img');
        for(var i = 0; i < images.length; i++) {
            var image = images[i];
            var item = {
                src: image.parentElement.getAttribute('href'),
                w: parseInt(image.parentElement.getAttribute('data-size').split('x')[0]),
                h: parseInt(image.parentElement.getAttribute('data-size').split('x')[1])
            };
            items.push(item);
        }

        var options = {
            index: 0
        };

        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    document.querySelectorAll('.my-gallery a').forEach(function(item) {
        item.onclick = function(event) {
            event.preventDefault();
            openPhotoSwipe();
        };
    });

	window.addEventListener('load', function() {
    var images = document.querySelectorAll('.my-gallery img');
    images.forEach(function(img) {
        var width = img.naturalWidth;
        var height = img.naturalHeight;
        img.parentElement.setAttribute('data-size', width + 'x' + height);
    });
});
</script>

</body>
</html>